results.xml
screenshots/*.png
screenshots/*.html
.idea/*
.DS_Store
.idea/acceptance-tests.iml
.idea/workspace.xml
results.html
results_cucumber.html
build/
jmeter.log
*results*.html
*results*.jtl
jmeter.log

rerun.txt
